button.scan {
    display: flex;
    margin: auto;
    margin-top: 100px;
}

form {    
    margin-top: 25px;
}

div.label {
    display: flex;
    justify-content: center;
}

div.searchweb {
    display: flex;
    max-width: 250px;
}

div.search-container {
    display: flex;
    justify-content: center;
}